{{#section 'styles'}}
{{/section}}
<main class="page manage-arts" >
  <ul>
    {{#each articles}}
    <li>
      <div>
        <div>{{title}}</div>
        <div>链接：{{link}}</div>
        <p>简介：{{content}}</p>
      </div>
      <div>
        <a href="javascript:void 0">删除</a>
        <a href="/manage/edit/{{id}}" target="_self" >编辑</a>
      </div>
    </li>
    {{/each}}
  </ul>
</main>
{{#section 'scripts'}}
{{/section}}
