{{#section 'styles'}}
{{/section}}
<main class="page manage-page" >
  <ul>
    <li><a href="/manage/createArticle" target="_self" >创建文章</a></li>
    <li><a href="/manage/articles" target="_blank" rel="noopener noreferrer">管理文章库</a></li>
  </ul>
</main>
{{#section 'scripts'}}
{{/section}}
