{{#section 'styles'}}
<style>
  body {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
  }
</style>
{{/section}}
<main class="page home-page" >
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <br>
  {{> Hello name=title}}
  <br>
  {{> prompt}}
</main>
{{#section 'scripts'}}
<script>
  (function() {
    'use strict';
    var title = '{{title}}'
    console.log('hello, ', title);
  })();
</script>
{{/section}}
