{{#section 'styles'}}
{{/section}}
<main class="page article-page">
  <article class="cnt" >
    <h4>{{title}}</h4>
    <div>文章链接：<a href="{{link}}" target="_blank" >{{link}}</a></div>
    <p>{{content}}</p>
  </article>
</main>
{{#section 'scripts'}}
{{/section}}
