<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/static/styles/style.css' />
    {{{_sections.styles}}}
  </head>
  <body>
    {{{body}}}
    {{{_sections.scripts}}}
  </body>
</html>
